.hero-banner {
  background: rgb(19,19,19);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .hero-content {
    color: white;
    text-align: center;
    width: 80%; /* Set the width to the desired value (e.g., 80%) */
    /* padding: 2em; Add some padding for spacing */
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    background: rgb(19,19,19);
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
    background: rgb(19,19,19);
  }